<% provide(:title, 'Contact') %>

    <h1>Contact</h1>
    <p>
      Contact Ruby on Rails Tutorial aout the sample app at the 
      <a href="http://railstutorial.org/contact">Tutorial contact page</a>.  
    </p>

