<% provide(:title, 'Help') %>

  <body>
    <h1>Help</h1>
    <p>
      Get help on use of the DTails App at the
      <a href="http://clinicaltrials.gov">Dtrials Tutorial Site</a>. <br>
<br>
      To get additional help and details of Trials criteria, see the
      <a href="http://clinicaltrials.gov">Clinical Trials Gov Site</a>
    </p>

